@font-face {
    font-family: BangnaNew;
    src: url(./assets/bangna-new.ttf);
}

body {
    margin: 0;
    font-family: BangnaNew;
}

h1 {
    text-align: center;
}

.container {
    margin: 50px 0;
}